<script>
$(function(){
  $('#foobar').on('pref-click',function(e,data){
    function callback(){
      $('#shokunins > div.active').removeClass('active');
      $('#pref'+data.pref.id).fadeIn();
      $('#pref'+data.pref.id).addClass('active');
    }
    if($('#shokunins > div.active').size()==0)callback();
    else $('#shokunins > div.active').fadeOut('fast',callback)
  });
  $('#foobar').on('pref-move',function(e,data){})
  $('#foobar').on('pref-leave',function(e,data){})

  $('.shokunin-info').popover();

});
</script>

<div class="col-md-4" id='shokunins'>
  <% @prefectures.each do |pref| %>
    <div id='pref<%= pref.id %>'>
      <h3><%= pref.name %>にいるハガキ職人一覧</h3>
      <div style="width: 100%;">
        <div style="float:right;">
          <i class="glyphicon glyphicon-edit"></i><%= link_to 'ハガキ職人の追加・編集', prefecture_path(pref) %>
        </div>
      </div>
      <ul style="clear:right;">
        <% pref.shokunins.active.each do |shokunin| %>
          <li>
          <div class="shokunin-info" data-toggle="popover" title="Contact : <%=shokunin.profile.contact %>" data-content="<%=shokunin.profile.content %>"><%= shokunin.profile.name %></div>
            <div><%= shokunin.profile.contact %></div>
            <div><%= shokunin.profile.content %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="col-md-8">
  <div id='foobar' class='japan-svg-map' data-width='600' data-height='660' data-src='<%= image_path 'japan.svg' %>' data-pref-color='<%= @prefcount.to_json %>' style='background:#eef'>
    <div style='line-height:440px;text-align:center'>loading...</div>
  </div>
</div>

<style>
#foobar{
  float:right;
  margin-right:20px;
}
#shokunins{
  float:left;
}
#shokunins > div{
  display:none;
}
#shokunins > div.active{
  display:block;
}

</style>
